<nav id="sidebar">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <h1><a href="index.html" class="logo">管理後台</a></h1>
  <ul class="list-unstyled components mb-5" id="menu"></ul>

</nav>

<script>
  var txtLJ = '<?=$txtJ;?>';
  var aryLJ = JSON.parse(txtLJ);

  $(function () {
    $.each(aryLJ, function (a, b) {

      var li = $('<li></li>');
      if (b.menuClass != "") {
        var svg = (b.MenuIcon != '') ? '<svg class="fa svg_stroke_light mr-3"><use xlink:href="svg/side.svg#' + b.MenuIcon + '"></use></svg>' : '';
        var ahtml = svg + '<font class="mr-3">' + b.MenuName + '</font>';
        if (b.show == 'fa fa-angle-down') ahtml += '<i class="' + b.show + '"></i>';
        li.append($('<a></a>').attr('href', "#Menu" + b.MenuID).attr('data-toggle', 'collapse').attr('aria-expanded', 'true').addClass('dropdown-toggle').attr('href', b.MenuLink).html(ahtml));
      } else {
        var svg = (b.MenuIcon != '') ? '<svg class="fa svg_stroke_light mr-3"><use xlink:href="svg/side.svg#' + b.MenuIcon + '"></use></svg>' : '';
        var ahtml = svg + '<font class="mr-3">' + b.MenuName + '</font>';
        if (b.show == 'fa fa-angle-down') ahtml += '<i class="' + b.show + '"></i>';
        li.append($('<a></a>').attr('href', "#Menu" + b.MenuID).attr('data-toggle', 'collapse').attr('aria-expanded', 'false').addClass('dropdown-toggle').attr('href', b.MenuLink).html(ahtml));
      }

      if (b.show == 'fa fa-angle-down') {
        if (b.menuClass == "action") {
          var ul = $('<ul></ul>').addClass('collapse list-unstyled show').attr('id', "Menu" + b.MenuID);
        } else {

          var ul = $('<ul></ul>').addClass('collapse list-unstyled').attr('id', "Menu" + b.MenuID);
        }
        $.each(b.childList, function (c, d) {
          var sideli = $('<li></li>');

          var a = $('<a></a>').attr('href', d.MenuLink).attr('target', d.LinkTarget).attr('title', d.MenuName).text(d.MenuName)
          if (d.minClass != "") sideli.addClass(d.minClass);
          sideli.append(a);

          ul.append(sideli);
        });
        li.append(ul);
      }

      $('#menu').append(li);
    });
    var Oli = $('<li class="logout"><a href="logout.html"><span class="fa fa-sign-out mr-3"></span> 登出</a></li>');
    $('#menu').append(Oli);
    $("#sidebar").addClass("1");
    $("#sidebarCollapse").click(function () {
      if ($("#sidebar").attr('class') == "1" || $("#sidebar").attr('class') == "") {
        $("#sidebar").addClass("active");
      } else {
        $("#sidebar").removeClass();
      }
    })
  });

</script>