<nav id="sidebar">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <h1><a href="index.html" class="logo">管理後台</a></h1>
  <ul class="list-unstyled components mb-5">

    <!-- <?php foreach($getside as $getsideList): ?>
    <li>
      <a href="<?=$getsideList['Link'];?>"><span class="<?=$getsideList['Icon'];?>"></span>
        <?=$getsideList['Text'];?>
      </a>
    </li>
    <?php endforeach; ?> -->


    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
          <a href="#">Home 1</a>
        </li>
    </li>





    <li class="logout">
      <a href="logout.html"><span class="fa fa-sign-out mr-3"></span> 登出</a>
    </li>

  </ul>

</nav>